Temp/
Library/
Library/previews/
Library/cache/
Library/ScriptAssemblies/
Library/metadata/
Logs/
obj/
.vs/

*.csproj
*.unityprof
*.unityproj
*.booproj
*.sin
*.suo
*.sln
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.apk
*.unitypackage
*.old