# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Shift-Path.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Liljondr\Work\Other\Shift-Path\.idea\.idea.Shift-Path\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
